@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  transition: .2s;
}
html{
  scroll-behavior: smooth;
}
body{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    width: 6px;
    background-color: #015764;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    color: rgba(0,0,0,0);
}
::selection {
    background: #015764;
    color: white;
}

.loader{
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  width: 100%;
  z-index: 30;
  display: flex;
  height: 100vh;
  background: rgb(237, 237, 237);
}
header{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  -ms-align-items: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

header .down{
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.178);
}
#menu{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
#button-menu {
  background-color: transparent;
  border: none;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  padding: 0;
  z-index: 101;
}
#button-menu:active{border:0px;z-index: 101;}
.line {
  fill: none;
  stroke: #015764;
  stroke-width: 6;
  transition: stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 101;
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  z-index: 101;
}
.line2 {
  stroke-dasharray: 45 45;
  stroke-width: 6;
  z-index: 101;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
  z-index: 101;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  z-index: 101;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
  z-index: 101;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
  z-index: 101;
}
.logo{
  width: 150px;
  height: 75px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  font-weight: bold;
  color: #015764;
}
.search{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #015764;
  overflow: hidden;
}
.jojo{width: 250px;}
.search .icon{
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  z-index: 1000;
}
.search .icon::before{
  content:'';
  position: absolute;
  width: 8px;
  height: 8px;
  border: 2px solid #015764;
  border-radius: 50%;
  transform: translate(-2px, -2px) rotate(315deg);
}
.search .icon::after{
  content: '';
  position: absolute;
  width: 2px;
  height: 6px;
  background: #015764;
  transform: translate(4px, 4px) rotate(315deg);
}
.search .input{
  position: relative;
  width: 250px;
  height: 30px;
  left: 35px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.input input{
  position: absolute;
  background: rgba(0,0,0,0);
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  color: #015764;
}
::placeholder{color: #015764;}
.clear{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  right: 50px;
  display: none;
  cursor: pointer;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}
.active{display: -webkit-flex;display: -ms-flex;display: flex;}
.clear::before{
  position: absolute;
  content:'';
  width: 1px;
  height: 10px;
  background: #015764;
  transform: rotate(-45deg);
}
.clear::after{
  position: absolute;
  content:'';
  width: 1px;
  height: 10px;
  background: #015764;
  transform: rotate(45deg);
}
.menu_content{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-around;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 15px;
}
#button-menu{display: none;}
ul{
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  padding-left: 25px;
}
li{
  padding-right: 50px;
}
a{
  text-decoration: none;
  font-size: 20px;
  color: #015764;
  transition: .2s;
}
header a:hover{
  border-bottom: 2px solid #015764;
}
h1, h2{
  background: linear-gradient(to right, #051937, #005274, #008f8e, #5fca80, #f9f871);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
legend, label{
  color: #015764;
  font-size: 25px;
  background: inherit;
  padding: 0 10px;
  padding-bottom: 5px;
}
label{font-size: 20px;}
p{color: #015764;}
input{color: #015764;}
.cta{
  background: #015764;
  color: #fff;
  border-radius: 50px;
  padding: 5px 10px;
}
.cta:hover{
  background: rgba(0,0,0,0);
  color: #015764;
  border: 3px solid #015764;
}
#hero{
  height: 100vh;
  width: 100%;
  background: url(2.jpg) bottom center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  padding-left: 50px;
}
#hero:after{
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  opacity: 0.2;
}
.hero_content{
  position: relative;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 50%;
  z-index: 1;
}
.hero_content h2{
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  color: #015764;
  background: rgba(0,0,0,0);
  -webkit-text-fill-color: inherit
}
.hero_content p{
  line-height: 20px;
  font-size: 18px;
  color: #40645A;
}
section{
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
}
#first{
  justify-content: space-around;
  padding: 50px;
}
.text_content{
  padding: 25px;
  width: 50%;
}
.image, .video{
  margin-left: 25px;
  width: 50%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  height: 275px;
}
.cell{
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  height: 310px;
  width: 155.15px;
  background: #015764;
  border: 8px solid #015764;
  border-radius: 20px;
  overflow: hidden;
  z-index: 3;
}
.cell:hover{transform: translate(-10px,-10px);box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);}
.cell .logo{color: rgba(47,165,162,1);font-size: 15px;z-index: 2;}
.coso{
  transform: translateY(-10px);
  display: block;
  background-color: #015764;
  width: 50%;
  height: 25px !important;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 3;
}
.window{
  margin-top: -25px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 2;
  overflow: hidden;
}
#video-cell{
  height: 100%;
  width: 110%;
}
.image{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
#video{
  padding: 50px;
}
#cards{
  align-items: baseline;
  padding: 50px;
  line-height: 40px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#cards .text_content{
  width: 75%;
}
#cards .text_content p{line-height: 25px;}
.cards_container{
  width: 100%;
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.card{
  padding: 25px;
  text-align: left;
  width: 100%;
  border-radius: 20px;
  transition: .2s;
}
.card p{margin-top: 25px;line-height: 25px;padding-bottom: 25px;}
.card .pp{
  margin: 0 auto;
  border-radius: 100%;
  height: 200px;
  width: 200px;
  background: linear-gradient(to right, #051937, #005274, #008f8e, #5fca80, #f9f871);
}
#description{
  height: auto;
  padding: 50px;
  padding-top: 50px;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.description{
  margin-top: 25px;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-align-items: center;
  align-items: center;
  padding: 25px;
}
#form{padding: 50px;flex-direction: row;z-index: -2;}
.form__box{
  position: relative;
  width: 50%;
  padding-left: 50px;
  border-radius: 20px;
  padding: 25px;
  padding-top: 0;
  background: #fff;
  border: none;
  background-clip: padding-box;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.form__box:before {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -5px;
    margin-top: -25px;
    border-radius: 25px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to right, #051937, #005274, #008f8e, #5fca80, #f9f871);
}
.form__box input{
  margin-top: 15px;
  width: 50%;
  border: none;
  background: inherit;
  border-bottom: 2px solid #015764;
  outline: none;
}
textarea{
  margin-top: 15px;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid #015764;
  background: inherit;
}
.reminder{
  padding: 50px;
  padding-top: 0;
}
.reminder p{font-size: 30px;color: #015764;background: transparent;}

footer{
  padding: 50px;
  background: #E5FEFF;
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}
footer .text_content{
  width: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.copyright{background: #E5FEFF;width: 100%;text-align: center;font-size: 12px;padding-bottom: 20px;}
@media (max-width: 900px) {
  input[type=search]{margin: 0;}
  .menu_content{
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    text-align: right;
    position: fixed;
    padding-top: 75px;
    padding-right: 25px;
    margin-right: -500px;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.815);
    transition: all 0.3s;
  }
  ul{height: 200px;width: 100%;flex-direction: column;}
  li{padding-bottom: 20px;}
  li:nth-child(1){padding-top: 25px;}
  .search{margin: 0;}
  #button-menu{display: block;}
  .hamburger{
      display: flex;
      width: 30px;
      height: 22.5px;
      position: relative;
      transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
      cursor: pointer;
    }
    .hamburger span{
      background: #015764;
      position: absolute;
      height: 4px;
      width: 30px;
      display: block;
      border-radius: 4.5px;
      transition: all 0.5s cubic-bezier(.215, .61, .355, 1);
    }
    .hamburger span:nth-child(1) {
        top: 0px;
    }
    .hamburger span:nth-child(2) {
        top: 9px;
    }
    .hamburger span:nth-child(3) {
        top: 18px;
    }
    .hamburger.activo span:nth-child(1){
      top: 9px;
      left: 3px;
      transform: rotate(45deg);
      width: 25px;
    }
    .hamburger.activo span:nth-child(2){
      opacity: 0;
    }
    .hamburger.activo span:nth-child(3){
      top:9px;
      left: 3px;
      transform:rotate(-45deg);
      width: 25px;
    }
}
@media (max-width: 768px) {
  input[type=search]{width: 150px;}
  footer{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    padding-top: 25px;
  }
  footer .logo, footer .text_content{width: 100%;text-align: center;margin-top: 25px;}
  .hero_content, .text_content, .image, .video, .card{width: 100%;margin: 0;margin-top: 25px;}
  #cards .text_content{width: 100%;}
  #first, #video, #cards, #description, #form{padding: 25px;}
  section, .description, .cards_container{
    padding: 25px;
    padding-top: 0;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
  }
  ul{
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }
  li{padding: 10px;}
  .mySlide{width: 100%;}
  #hero{align-items: flex-start;}
  .pp{width: 100px;height: 100px;}
};
@media (max-width: 500px){
  .menu_content{
    display: flex;
    flex-direction: column;
    position: fixed;
    padding-top: 2em;
    margin-right: -600px;
    top: 0;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    z-index: 100;
    background-color: rgba(255, 255, 255, 0.815);
    transition: all 0.3s;
    margin-top: -100px;
  }
  #first, #video, #cards, #description, #form{padding: 0;}
  #first .text_content, #video .text_content,
  #cards .text_content, #description .text_content{padding: 0;}
}
